body {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  color: #333;

  background: linear-gradient(45deg, #300, black);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

/*--------------------------------
レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  padding: 90px 0;
}

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #d2c8ae;
  position: relative;
  display: inline-block;
  padding: 0 55px;
  text-align: center;
}

.title:before,
.title:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #fff;
}

.title:before {
  left: 0;
  /* ::before */
  background: linear-gradient(-90deg, #666, transparent);
}

.title:after {
  right: 0;
  /* ::after */
  background: linear-gradient(90deg, #666, transparent);
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #454343;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 20px 40px;*/
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  /*letter-spacing: 0.05em;*/
}

.header-logo a {
  color: #fff;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  /*list-style: none;*/
}

.header-nav-item:not(:last-child) {
  margin-right: 20px;
}

.header-nav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: 0.3s;
  letter-spacing: 0.05em;
  color: #fff;
}

.header-nav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: '';
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.header-nav-item a:hover:after {
  width: 100%;
}

/*--------------------------------
メインビジュアル
---------------------------------*/
.main-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
  background-image: url('https://pbs.twimg.com/media/FxCMfBHWYAMGndm?format=jpg&name=large');
  background-size: cover;
  background-position: center;
  animation: fadeIn 5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-visual-inner {
  padding: 0 40px;
}

.main-visual-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}

.main-visual-subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
}

.main-visual-profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.main-visual-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}

.main-visual-img img {
  border-radius: 50%;
}

.main-visual-text {
  flex: 1;
  text-align: center;
}

.main-visual-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

.main-visual-title-sub {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}

.main-visual-img-sub {
  width: 15%;
  margin-right: 20px;
}

.main-visual-img-sub img {
  border-radius: 50%;
}

/*--------------------------------
公式サイト
---------------------------------*/
.bliz {
  width: 500px;
  margin: 0 auto;
}
.bliz img {
  max-width: 100%;
}
.offic_item {
  margin-bottom: 3px;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.offic_item {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #fff;
  background: #6eb7ff;
  border-bottom: solid 6px #3f87ce;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}
.offic_item p {
  margin: 0;
  padding: 0;
}

/*--------------------------------
youtube
---------------------------------*/
.i {
  text-align: center;
}

.youtubebox2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--------------------------------
twitter
---------------------------------*/

.twitter-timeline {
  padding: 5px;
  margin: 10px auto;
}
@media (max-width: 750px) {
  .timelinebox {
    display: flex;
    flex-direction: column;
  }
  .twitter-timeline {
    padding: 5px;
  }
}
.timelinebox {
  display: flex;
}
/*--------------------------------
PHOTO
---------------------------------*/

.box-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box-row img {
  max-width: 100%;
}

@media screen and (max-width: 750px) {
  .box-row {
    flex-direction: column;
    text-align: center;
  }
}
.photo img {
  width: auto;
  height: 300px;
}

/*--------------------------------
攻略サイト
---------------------------------*/

/*.kou {
  width: 500px;
  margin: 0 auto;
}

.kou img {
  max-width: 100%;
  animation: fuwafuwa 3s infinite ease-in-out 0.8s alternate;
}
@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0) rotate(-7deg);
  }
  50% {
    transform: translate(0, -7px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(7deg);
  }
}*/

/*.kou_url {
  text-align: center;
  padding: 0px 0;
}*/
.textlink02 a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ceb849;
  transition: width 0.3s;
}

.textlink02 a:hover::after {
  width: 100%;
}
.url-w {
  padding-bottom: 40px;
  color: #fff;
}

/*--------------------------------
About
---------------------------------*/
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------
ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #000;
}

/*--------------------------------
フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #454343;
}

.copyright {
  font-size: 20px;
  text-align: center;
  color: #fff;
}
/*--*/
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #300;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: red;
}

a.btn--radius {
  border-radius: 100vh;
}

/*--------------------------------
ニュース
---------------------------------*/
.main-visual-img-sub {
  width: 700px;
  margin: 110px;
}
.SUB-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
  text-align: center;
}
.SUB-img {
  width: auto;
  height: auto;
}

.news-name {
  margin-bottom: 3px;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.youtube-name {
  margin-bottom: 3px;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  text-align: center;
}

.SUB-img iframe {
  justify-content: center;
}
.skill-item {
  text-align: center;
}
.skill-body {
  padding-top: 5%;
  padding-bottom: 5%;
}

/*--top--*/
.back-to-top {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 5%;
  color: #fff;
  padding: 2rem;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
}
.back-to-top::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #333;
  border-radius: 50%;
  z-index: -1;
}

a {
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(50, 42, 42) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: 0.3s;
  border-radius: 50px;
}
a:visited {
  color: #fff;
}

a:hover {
  background-position: -100% 0;
  color: #d2c8ae;
}

/*公式サイト背景動画*/
/* ここから */
.mv {
  width: 1000px;
  height: 1000%;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

/* 全体を囲う要素 */
.mv-wrap {
  position: relative;
  /* 背景画像の高さ */
  height: 500px;
}

video {
  display: block;
  width: 100%;
  /* 背景画像の高さ */
  height: 500px;
  /* 高さを維持したまま全体を表示させる */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.mv-bg {
  display: block;
  width: 1000px;
  /* 背景画像の高さ */
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  /* 薄いレイヤーの色 */
  background-color: rgba(0, 30, 0, 0.2);
  /* videoの上に乗せる */
  z-index: 2;
}
/*----リンク 枠金色--*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*背景*/
body {
  padding: 30px;

  text-align: center;

  background: #000;
}

.btn-border-gradient-wrap {
  display: inline-block;

  padding: 0.2rem;

  border-radius: 0.5rem;
}

.btn-border-gradient-wrap--gold {
  background-image: -webkit-linear-gradient(
    315deg,
    #704308 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #704308 100%
  );
  background-image: linear-gradient(
    135deg,
    #704308 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #704308 100%
  );
}

.btn-border-gradient-wrap--gold:hover a.btn {
  text-shadow: 0 0 15px rgba(250, 250, 214, 0.5), 0 0 15px rgba(250, 250, 214, 0.5),
    0 0 15px rgba(250, 250, 214, 0.5), 0 0 15px rgba(250, 250, 214, 0.5);
}

a.btn-border-gradient {
  font-size: 2rem;
  background: #000;
}

.btn-text-gradient--gold {
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E',
    'ＭＳ Ｐ明朝', serif;

  background: -webkit-gradient(linear, left bottom, left top, from(#ffffdb), to(#a16422));

  background: -webkit-linear-gradient(bottom, #ffffdb, #a16422);

  background: linear-gradient(to top, #ffffdb, #a16422);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}
/*---/枠金色--*/
/*----リンク 枠銀色--*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*背景*/
body {
  margin-bottom: 20px;
  padding: 30px;

  text-align: center;

  background: #000;
}

.btn-border-gradient-wrap {
  display: inline-block;

  padding: 0.2rem;

  border-radius: 0.5rem;
}

.btn-border-gradient-wrap--silver {
  background-image: -webkit-linear-gradient(
    315deg,
    #333 0%,
    #868888 20%,
    #d8dcdc 34%,
    #999a9c 35%,
    #cccdce 43%,
    white 53%,
    #d1d6d7 68%,
    #9b9d9f 84%,
    #666 100%
  );
  background-image: linear-gradient(
    135deg,
    #333 0%,
    #868888 20%,
    #d8dcdc 34%,
    #999a9c 35%,
    #cccdce 43%,
    white 53%,
    #d1d6d7 68%,
    #9b9d9f 84%,
    #666 100%
  );
}

a.btn-border-gradient {
  font-size: 2rem;
  background: #000;
}

.btn-text-gradient--silver {
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#999));
  background: -webkit-linear-gradient(bottom, #fff, #999);
  background: linear-gradient(to top, #fff, #999);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.btn-border-gradient-wrap--silver:hover a.btn {
  text-shadow: 0 0 15px rgba(209, 214, 215, 0.5), 0 0 15px rgba(209, 214, 215, 0.5),
    0 0 15px rgba(209, 214, 215, 0.5), 0 0 15px rgba(209, 214, 215, 0.5);
}
/*---/枠銀色--*/
.CONTACT section {
  padding-bottom: 50px;
}
